In [16]:
# Add some libraries
import pandas as pd
import numpy as np

In [2]:
# Download data
!gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: /content/advertising.csv
100% 4.06k/4.06k [00:00<00:00, 12.7MB/s]

In [9]:
# Read data
df = pd.read_csv("/content/advertising.csv")
data = df.to_numpy()

### 1. Get max value and max index on Sales

In [21]:
sales = data[:, 3]
max_value = np.max(sales)
max_index = np.where(sales == max_value)
print(f"Max value: {max_value}, max index: {max_index[0][0]}")

Max value: 27.0, max index: 175

### 2. Get average value on TV

In [22]:
tv = data[:, 0]
tv_average = np.mean(tv)
print(tv_average)

147.0425

### 3. Count values on Sales >= 20

In [27]:
count = np.where(sales>=20)
print(len(count[0]))

40

### 4. Get average value on Radio with Sales >= 15

In [31]:
# Sales >= 15
radio_con = data[np.where(sales>=15)][:, 1]
# Get the average
print(np.mean(radio_con))

26.22293577981651

### 4. Get sum of Sales rows with Newspaper >= average value of Newspaper

In [32]:
# Newspaper >= average value of Newspaper
newspaper = data[:, 2]
newspaper_con = data[np.where(newspaper>=np.mean(newspaper))]

# Get sum
print(np.sum(newspaper_con[:, 3]))

1405.1

### 5. Create scores list with 3 values Good, Average và Bad. If sales value > average sales => Good, < average sale => Bad and = average sale => Average. Show scores[7:10]

In [35]:
# Get sales average
average_sales = np.mean(sales)

In [43]:
# Create scores list
scores = np.where(sales[7:10]>average_sales, "Good", (np.where(sales[7:10]==average_sales, "Average", "Bad")))

In [45]:
print(scores)

['Bad' 'Bad' 'Good']

### 6. A is the nearest value of average sales. Create scores list with 3 values Good, Average và Bad. If sales value > A => Good, < A => Bad and = A => Average. Show scores[7:10]

In [55]:
# Get A
a_value = sales[np.where(np.abs(sales-average_sales)==np.min(np.abs(sales-average_sales)))][0]

In [56]:
# Create scores list
scores = np.where(sales[7:10]>a_value, "Good", (np.where(sales[7:10]==a_value, "Average", "Bad")))

In [57]:
print(scores)

['Bad' 'Bad' 'Good']